* {
    font-size: 16px;
}

body {
    margin: 0;
}

.sawarabi-gothic-regular {
    font-family: "Sawarabi Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sawarabi-gothic-bold {
    font-family: "Sawarabi Gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
}