@import './fonts';

.searchpage {
    margin-bottom: 32px;

    &-content {
        display: flex;

        justify-content: center;

        flex-wrap: wrap;

        gap: 32px;
    }

    &-info, &-itemcount {
        @include sawarabi-gothic-regular;

        text-align: center;
    }

    &-loadmore {
        margin-top: 32px;

        display: flex;
        justify-content: center;

        @include sawarabi-gothic-regular;

        font-weight: 600;

        input {
            background-color: white;

            border-color: gainsboro;
            border-style: solid;

            padding: 12px;
            padding-left: 26px;
            padding-right: 26px;

            &:hover {
                cursor: pointer;
                border-color: black;
            }
            &:focus {
                border-color: black;
                outline: none;
            }
        }
    }
}